body{
    background-image: url(img/pizza1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.tytul{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 10px;
    margin-bottom: 60px;
    background-color: #ffffff;
}

.tlo{
    width: 80%;
    background-color: #5a5961;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    min-height: 600px;
    display: grid;
    grid-template-columns: auto auto;
}

.tekst{
    font-size: 18px;
    margin: 0px;
    color: white;
   margin-left: 180px;
}

#pizza{
    width: 75%;
    margin-bottom: 10px;
    background-color: #ffffff;
    font-size: 18px;
    border: 1px solid #3c3d3c;
    color: rgb(0, 0, 0);
}

.inp{
    margin-bottom: 10px;
}

.btn1{
    width: 200px;
    margin-left: 100px;
}

.img2{
    width: 600px;
    height: auto;
    margin-top: 30px;
}
